:root {
  --primary-color: #e26868;
  --secondary-color: #ff8787;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --bg-primary-color: rgba(216, 217, 207, 1);
}

body {
  width: 100% !important;
  background: rgb(237, 237, 237);
  background: linear-gradient(
    to bottom,
    rgba(216, 217, 207, 1) 21%,
    rgba(246, 246, 246, 0.68) 35%,
    rgba(255, 255, 255, 0.4) 100%
  );
  background-repeat: no-repeat;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px !important;
  font-family: "Qwigley", cursive;
}

h2 {
  font-size: 48px !important;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

.col-md-6 h2 {
  text-align: left;
}

h3 {
  font-size: 24px !important;
  opacity: 0.7;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}
.navbar {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  background-color: var(--bg-primary-color);
}
p {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}
.about {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 15px 15px;
  text-decoration: none;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: #ededed;
}
.navigation-links a:hover {
  border-color: var(--primary-color);
  cursor: pointer;
  color: var(--primary-color);
}
.project-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
.index-main {
  margin: 50px;
}
.carousel-container {
  display: flex;
  justify-content: center;
}
.skillset {
  background-color: rgba(205, 202, 202, 0.3);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 60%;
  padding: 30px;
}
.skillset img {
  max-height: 150px;
  display: block;
  margin: 0 auto;
}
.career {
  background-color: rgba(205, 202, 202, 0.3);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 30px;
}
.reach-out {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.reach-out h3 {
  text-align: left;
}
.reach-out a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}
.reach-out a:hover {
  color: var(--secondary-color);
}
ul {
  text-align: left;
  list-style-type: none;
  margin-left: 50px;
}
li {
  padding: 15px;
}
.inquiry {
  background-color: rgba(205, 202, 202, 0.3);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  margin: 30px;
  max-width: 60%;
  display: flex;
  justify-content: space-around;
  font-family: "Nunito", sans-serif;
  padding: 50px;
}
.inquiry a {
  margin: 20px;
  border-radius: 4px;
  padding: 15px 15px;
  text-decoration: none;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: #ededed;
}
.inquiry,
.project-link a:hover {
  border-color: var(--primary-color);
  cursor: pointer;
  color: var(--primary-color);
}
footer {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(216, 217, 207, 1) 110%,
    rgba(237, 237, 237, 0.4) 0%
  );
  padding-top: 50px;
  text-align: center;
  margin-top: 100px;
}
footer h2 {
  font-family: "Qwigley", cursive;
  text-align: left;
  padding-left: 50px;
}
footer a {
  color: var(--primary-color);
  font-size: 48px;
}
footer a:hover {
  color: var(--secondary-color);
}
.mh80 {
  max-height: 79px !important;
}
small {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 10px !important;
}
@media (max-width: 475px) {
  h1 {
    font-size: 60px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  body {
    min-width: 135% !important;
    background: rgb(237, 237, 237);
    background: linear-gradient(
      to bottom,
      rgba(216, 217, 207, 1) 21%,
      rgba(246, 246, 246, 0.68) 50%,
      rgba(255, 255, 255, 0.4) 100%
    );
  }
  .carousel-container img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
  .career {
    max-width: 80%;
  }
  .career p {
    margin-bottom: 15px !important;
  }
  footer {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(216, 217, 207, 1) 150%,
      rgba(237, 237, 237, 0.4) 0%
    );
  }
}
